<div id="top_scores" class="scores">
	<div>Top 20 scores</div>
	<table>
		<tr>
			<th>Name</th><th>Score</th>
		</tr>
		{{#each topScores}}
		<tr>
			<td id="{{@index}}">{{this.user}}</td><td>{{this.score}}</td>
		</tr>
		{{/each}}
	</table>
</div>