.answer{
    overflow: hidden;
}

body > div{
	width: 500px;
}

#next{
	float: right;
}

.results div{
	text-align: center;
}

.main {
    width: 500px;
    overflow: hidden;
}

.selected {
    background-color: blue;
}

.login input{
	float: right;
}



