body > div{
	width: 500px;
}

body input[type="text"]{
	float: right;
}

#next{
	float: right;
}

.results div, .scores{
	text-align: center;
}

.scores{
	border: 1px solid #000;
	margin-top: 5px;
}

table{
	width: 100%;
	border: 1px solid #000;
}



